&control
  calculation='scf'
  prefix='HgO.ortho.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=8
  ntyp=2
  ecutwfc=40
  ecutrho=200
  occupations='fixed'
  nbnd=72
/
&electrons
  conv_thr=1.d-8
/
ATOMIC_SPECIES
  Hg 0.0 Hg.GGA-PBE-paw.UPF
  O 0.0 O.GGA-PBE-paw.UPF
K_POINTS (automatic)
  7 9 14 0 0 0
