&control
  calculation='scf'
  prefix='LiNbO3.rhomb.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=10
  ntyp=3
  ecutwfc=40
  ecutrho=200
  occupations='fixed'
  nbnd=72
/
&electrons
  conv_thr=1.d-8
/
ATOMIC_SPECIES
  Li 0.0 Li.GGA-PBE-paw.UPF
  Nb 0.0 Nb.GGA-PBE-paw.UPF
  O 0.0 O.GGA-PBE-paw.UPF
K_POINTS (automatic)
  12 12 12 0 0 0
