K 19
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
4 4 0 0 0 0 
4 0 1
4 1 0
0 0 0 
c
c
v
v
c
v
v
2
{DAKOTA_K_RC_1} {DAKOTA_K_RC_1/1.2} {DAKOTA_K_RC_2} {DAKOTA_K_RC_3}
n
n
y
{DAKOTA_K_EP_1}
n
custom rrkj
3 -0.5
{DAKOTA_K_RC_4}
{DAKOTA_K_RC_5}
{DAKOTA_K_RC_6}
{DAKOTA_K_RC_7}
{DAKOTA_K_RC_8}
3
0

