Lu 71
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
6 5 5 4 0
5 2 1
0 0 0
c
c
c
c
v
v
c
c
c
v
c
c
v
v
3
{DAKOTA_Lu_RC_1} {DAKOTA_Lu_RC_1/1.2} {DAKOTA_Lu_RC_2} {DAKOTA_Lu_RC_3}
n
y
{DAKOTA_Lu_EP_1}
n
y
{DAKOTA_Lu_EP_2}
n
y
{DAKOTA_Lu_EP_3}
n
custom rrkj
4 2.75 ultrasoft
{DAKOTA_Lu_RC_4}
{DAKOTA_Lu_RC_5}
{DAKOTA_Lu_RC_6}
{DAKOTA_Lu_RC_7}
{DAKOTA_Lu_RC_8}
{DAKOTA_Lu_RC_9}
{DAKOTA_Lu_RC_10}
{DAKOTA_Lu_RC_11}
3
0

