&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=-9
  celldm(1)=6.266
  celldm(2)=3.172
  celldm(3)=1.324
  nat=4
  ntyp=1
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  P 0.0 P.GGA-PBE-paw.UPF
K_POINTS (automatic)
  6 6 8 0 0 0
ATOMIC_POSITIONS crystal
P 0.4019962 0.5980038 0.58999772
P 0.0980038 0.9019962 0.08999772
P 0.9019962 0.0980038 0.91000228
P 0.5980038 0.4019962 0.41000228
