&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=2
  celldm(1)=9.000
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
  nspin=2
  starting_magnetization(1)=4.85
  starting_magnetization(2)=0.00
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
K_POINTS (automatic)
  12 12 12 0 0 0
ATOMIC_SPECIES
  Pu 0.0 Pu.GGA-PBE-paw.UPF
  N 0.0 N.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  Pu 0.0 0.0 0.0
  N 0.5 0.5 0.5
