Se 34
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
4 4 3 0 0 0 
4 1 4
3 2 10
0 0 0 
c
c
c
v
c
c
v
c
2
{DAKOTA_Se_RC_1} {DAKOTA_Se_RC_1/1.2} {DAKOTA_Se_RC_2} {DAKOTA_Se_RC_3}
y
{DAKOTA_Se_EP_1}
n
y
{DAKOTA_Se_EP_2}
n
n
custom polynom2 7 10.0 vanderbiltortho besselshape
2 0.0 ultrasoft
{DAKOTA_Se_RC_4}
{DAKOTA_Se_RC_5}
{DAKOTA_Se_RC_6}
{DAKOTA_Se_RC_7}
3
0

