Te 52
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
5 5 4 0 0 0
5 1 4
0 0 0 
c
c
c
c
v
c
c
c
v
c
c
2
{DAKOTA_Te_RC_1} {DAKOTA_Te_RC_1/1.2} {DAKOTA_Te_RC_2} {DAKOTA_Te_RC_3}
y
{DAKOTA_Te_EP_1}
n
y
{DAKOTA_Te_EP_2}
n
n
Vanderbilt
2 -0.1 ultrasoft
{DAKOTA_Te_RC_4}
{DAKOTA_Te_RC_5}
{DAKOTA_Te_RC_6}
{DAKOTA_Te_RC_7}
3
0

