S 16
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
3 3 0 0 0 0 
3 1 4 
0 0 0 
c 
c 
v 
c 
v 
1
{DAKOTA_S_RC} {DAKOTA_S_RC/1.2} {DAKOTA_S_RC/1.3} {DAKOTA_S_RC/1.3}
y
{DAKOTA_S_EP_1}
n
y
{DAKOTA_S_EP_2}
n 
custom rrkj
2 0.0
{DAKOTA_S_RC}
{DAKOTA_S_RC}
{DAKOTA_S_RC}
{DAKOTA_S_RC}
3
0
