V 23
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
4 3 3 0 0 0 
4 0 2
3 2 3
0 0 0 
c
c
v
v
c
v
v
2
{DAKOTA_V_RC} {DAKOTA_V_RC/1.2} {DAKOTA_V_RC/1.3} {DAKOTA_V_RC/1.3}
n
y
{DAKOTA_V_EP_1}
n
y
{DAKOTA_V_EP_2}
n
custom polynom2 7 10.0 vanderbiltortho besselshape
3 0.0 ultrasoft
{DAKOTA_V_RC}
{DAKOTA_V_RC}
{DAKOTA_V_RC}
{DAKOTA_V_RC}
{DAKOTA_V_RC}
{DAKOTA_V_RC}
3
0
