&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=3
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
  use_all_frac=.TRUE.
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  Zr 0.0 Zr.GGA-PBE-paw.UPF
  Cl 0.0 Cl.GGA-PBE-paw.UPF
K_POINTS (automatic)
  8 8 8 1 1 1
CELL_PARAMETERS angstrom
3.318713 0.000000 6.369247
1.559834 2.929295 6.369247
0.000000 0.000000 7.182003
ATOMIC_POSITIONS crystal
Zr 0.999923 0.999923 0.999923
Cl 0.583544 0.583544 0.583544
Cl 0.749633 0.749633 0.749633
