&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=2
  celldm(1)=8.74
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
K_POINTS (automatic)
  8 8 8 0 0 0
ATOMIC_SPECIES
  O 0.0 O.GGA-PBE-paw.UPF
  Pt 0.0 Pt.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  O 0.0 0.0 0.0
  Pt 0.5 0.5 0.5
