&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=2
  celldm=12.1
  nat=3
  ntyp=3
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  Sc 0.0 Sc.GGA-PBE-paw.UPF
  Sb 0.0 Sb.GGA-PBE-paw.UPF
  Pt 0.0 Pt.GGA-PBE-paw.UPF
K_POINTS (automatic)
  8 8 8 0 0 0
ATOMIC_POSITIONS (crystal)
Sc 0.5 0.5 0.5
Sb 0.25 0.25 0.25
Pt 0.75 0.75 0.75
