Sc 21
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
4 3 3 0 0 0 
3 2 1
0 0 0 
c
c
v
v
c
v
v
2
{DAKOTA_RC} {DAKOTA_RC}/1.2 {DAKOTA_RC}/1.4 {DAKOTA_RC}/1.4
n
y
{DAKOTA_EP_1}
n
y
{DAKOTA_EP_2}
n
custom polynom2 7 10.0 vanderbiltortho besselshape
3 0.0 ultrasoft
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
3
0
