H 1
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
1 0 0 0 0 0 
1 0 1 
0 0 0 
v 
1
{DAKOTA_RC} {DAKOTA_RC/1.2} {DAKOTA_RC/1.3} {DAKOTA_RC/1.3}
y
{DAKOTA_EP_1}
n
y
{DAKOTA_EP_2}
n 
custom polynom gramschmidtortho
bessel
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
3
0
