K 19
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
4 4 0 0 0 0 
4 0 1
4 1 0
0 0 0 
c
c
v
v
c
v
v
2
{DAKOTA_RC} {DAKOTA_RC/1.2} {DAKOTA_RC/1.3} {DAKOTA_RC/1.3}
n
n
y
{DAKOTA_EP_1}
n
custom rrkj
3 -0.5
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
3
0
