Tl 81
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
6 6 5 4 0 0
6 0 2
6 1 1
0 0 0
c
c
c
c
c
v
c
c
c
c
v
c
c
v
c
2
{DAKOTA_RC} {DAKOTA_RC/1.2} {DAKOTA_RC/1.3} {DAKOTA_RC/1.3}
y
{DAKOTA_EP_1}
n
y
{DAKOTA_EP_2}       
n
y
{DAKOTA_EP_3}
n                                         
custom polynom2 7 10. vanderbiltortho besselshape
3 0.0 ultrasoft
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
{DAKOTA_RC}
3
0
