&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=2
  celldm(1)=10.41
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
K_POINTS (automatic)
  8 8 8 1 1 1
ATOMIC_SPECIES
  P 0.0 P.GGA-PBE-paw.UPF
  Al 0.0 Al.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  P 0.0 0.0 0.0
  Al 0.25 0.25 0.25
