&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=3
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
  use_all_frac=.TRUE.
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  S 0.0 S.GGA-PBE-paw.UPF
  W 0.0 W.GGA-PBE-paw.UPF
K_POINTS (automatic)
  10 10 6 1 1 1
CELL_PARAMETERS angstrom
-1.595530 -2.763540 0.000000
-3.191061 0.000000 0.000000
-1.595530 -0.921180 -7.121009
ATOMIC_POSITIONS crystal
S 0.592397 0.592397 0.222809
S 0.739570 0.739570 0.781290
W 0.999333 0.999333 0.002001
