&control
  calculation='scf'
  prefix='KMgF3.per.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=5
  ntyp=3
  ecutwfc=40
  ecutrho=200
  occupations='fixed'
  nbnd=36
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  K 0.0 K.GGA-PBE-paw.UPF
  Mg 0.0 Mg.GGA-PBE-paw.UPF
  F 0.0 F.GGA-PBE-paw.UPF
K_POINTS (automatic)
  8 8 8 1 1 1
ATOMIC_POSITIONS (crystal)
K 0.0 0.0 0.0
Mg 0.5 0.5 0.5
F 0.0 0.5 0.5
F 0.5 0.5 0.0
F 0.5 0.0 0.5
CELL_PARAMETERS angstrom
    4.1000000000     0.0000000000     0.0000000000
    0.0000000000     4.1000000000     0.0000000000
    0.0000000000     0.0000000000     4.1000000000

