&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=2
  celldm(1)=11.0
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  S 0.0 S.GGA-PBE-paw.UPF
  Ti 0.0 Ti.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  S 0.0 0.0 0.0
  Ti 0.25 0.25 0.25
K_POINTS (automatic)
  8 8 8 0 0 0
