&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=3
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
  use_all_frac=.TRUE.
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  Ti 0.0 Ti.GGA-PBE-paw.UPF
  S 0.0 S.GGA-PBE-paw.UPF
K_POINTS (automatic)
  8 8 8 1 1 1
CELL_PARAMETERS angstrom
3.416998 0.000000 0.000000
-1.708499 2.959207 0.000000
0.000000 0.000000 6.418992
ATOMIC_POSITIONS crystal
Ti 0.000 0.000 0.0000
S 0.3333 0.6667 0.221
S 0.6667 0.3333 0.779
