&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=2
  celldm=5.
  nat=1
  ntyp=1
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  O 0 O.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (alat)
  O 0.0 0.0 0.0
K_POINTS (automatic)
  8 8 8 0 0 0
