Si 14
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
3 3 0 0 0 0 
3 1 2 
0 0 0 
c 
c 
v 
c 
v 
1
{DAKOTA_Si_RC} {DAKOTA_Si_RC}/1.2 {DAKOTA_Si_RC}/1.4 {DAKOTA_Si_RC}/1.4
y
{DAKOTA_Si_EP_1}
n
y
{DAKOTA_Si_EP_2}
n 
custom polynom2 7 10.0 vanderbiltortho besselshape
2 -1.0  ultrasoft
{DAKOTA_Si_RC}
{DAKOTA_Si_RC}
{DAKOTA_Si_RC}
{DAKOTA_Si_RC}
3
0
