&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=2
  celldm=11.8
  nat=3
  ntyp=3
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  Li 0.0 Li.GGA-PBE.paw.UPF
  Ga 0.0 Ga.GGA-PBE.paw.UPF
  C 0.0 C.GGA-PBE-paw.UPF
K_POINTS (automatic)
  8 8 8 0 0 0
ATOMIC_POSITIONS (crystal)
Li 0.5 0.5 0.5
Ga 0.25 0.25 0.25
C 0.75 0.75 0.75
