&control
  calculation='scf'
  prefix='BP.ZB.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  occupations='fixed'
  nbnd=24
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
K_POINTS (automatic)
  8 8 8 1 1 1
ATOMIC_SPECIES
  B 0.0 B.GGA-PBE-paw.UPF
  P 0.0 P.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  B 0.0 0.0 0.0
  P 0.25 0.25 0.25
