&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=2
  celldm(1)=10.771
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
K_POINTS (automatic)
  8 8 8 0 0 0
ATOMIC_SPECIES
  S 0.0 S.GGA-PBE-paw.UPF
  Ag 0.0 Ag.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  S 0.0 0.0 0.0
  Ag 0.25 0.25 0.25
