&control
  calculation='scf'
  prefix='ScP.ZB.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  occupations='fixed'
  nbnd=36
/
&electrons
  conv_thr=1.d-8
/
K_POINTS (automatic)
  8 8 8 0 0 0
ATOMIC_SPECIES
  P 0.0 P.GGA-PBE-paw.UPF
  Sc 0.0 Sc.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  P 0.0 0.0 0.0
  Sc 0.25 0.25 0.25
