&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=1
  ntyp=1
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  Hg 0.0 Hg.GGA-PBE-paw.UPF
CELL_PARAMETERS angstrom
4.10305 0.00000 0.00000
0.00000 4.10305 0.00000
0.00000 0.00000 3.54831
ATOMIC_POSITIONS crystal
  Hg 0.0 0.0 0.0
  Hg 0.5 0.5 0.5
K_POINTS (automatic)
  10 10 12 0 0 0

