Ru 44
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
5 4 4 0 0 0 
5 0 1
4 2 7
0 0 0 
c
c
c
v
v
c
c
v
c
v
2
{DAKOTA_Ru_RC_1} {DAKOTA_Ru_RC_1/1.2} {DAKOTA_Ru_RC_2} {DAKOTA_Ru_RC_3}
n
y
{DAKOTA_Ru_EP_1}
n
y
{DAKOTA_Ru_EP_2}
n
custom polynom2 7 10.0 vanderbiltortho
3 0.0 ultrasoft
{DAKOTA_Ru_RC_4}
{DAKOTA_Ru_RC_5}
{DAKOTA_Ru_RC_6}
{DAKOTA_Ru_RC_7}
{DAKOTA_Ru_RC_8}
{DAKOTA_Ru_RC_9}
3
0
