Cr 24
GGA-PBE scalarrelativistic loggrid 2001 logderivrange -5. 5. 2000
4 3 3 0 0 0 
4 0 1
3 2 5
0 0 0 
c
c
v
v
c
v
v
2
{DAKOTA_Cr_RC} {DAKOTA_Cr_RC/1.2} {DAKOTA_Cr_RC/1.3} {DAKOTA_Cr_RC/1.3}
n
y
{DAKOTA_Cr_EP_1}
n
y
{DAKOTA_Cr_EP_2}
n
custom rrkj
bessel
{DAKOTA_Cr_RC}
{DAKOTA_Cr_RC}
{DAKOTA_Cr_RC}
{DAKOTA_Cr_RC}
{DAKOTA_Cr_RC}
{DAKOTA_Cr_RC}
3
0
