&control
  calculation='scf'
  prefix='V2O5.ortho.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=14
  ntyp=2
  ecutwfc=40
  ecutrho=200
  occupations='fixed'
  nbnd=96
/
&electrons
  conv_thr=1.d-8
/
ATOMIC_SPECIES
  V 0.0 V.GGA-PBE-paw.UPF
  O 0.0 O.GGA-PBE-paw.UPF
K_POINTS (automatic)
  8 2 6 0 0 0
