&control
  calculation='scf'
  prefix='Co2FeAl.FCC.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=4
  ntyp=3
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
  nspin=2
  starting_magnetization(1)=1.50
  starting_magnetization(2)=1.50
  starting_magnetization(3)=2.00
  starting_magnetization(4)=0.50
/
&electrons
  conv_thr=1.d-8
/
ATOMIC_SPECIES
  Co 0.0 Co.GGA-PBE-paw.UPF
  Fe 0.0 Fe.GGA-PBE-paw.UPF
  Al 0.0 Al.GGA-PBE-paw.UPF
K_POINTS (automatic)
  8 8 8 0 0 0
ATOMIC_POSITIONS (crystal)
Co 0.25 0.25 0.25
Co 0.75 0.75 0.75
Fe 0.50 0.50 0.50
Al 0.00 0.00 0.00
