&control
  calculation='scf'
  prefix='TlBr.CsCl.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  occupations='fixed'
  nbnd=32
/
&electrons
  conv_thr=1.d-8
/
K_POINTS (automatic)
  16 16 16 0 0 0
ATOMIC_SPECIES
  Tl 0.0 Tl.GGA-PBE-paw.UPF
  Br 0.0 Br.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  Tl 0.0 0.0 0.0
  Br 0.5 0.5 0.5
