&control
  calculation='scf'
  prefix='AlAs.RS.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.015
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
K_POINTS (automatic)
  10 10 10 0 0 0
ATOMIC_SPECIES
  Al 0.0 Al.GGA-PBE-paw.UPF
  As 0.0 As.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  Al 0.0 0.0 0.0
  As 0.5 0.5 0.5
