&control
  calculation='vc-relax'
  prefix='relax'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=4
  ntyp=3
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
  use_all_frac=.TRUE.
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/        
&cell
  cell_dynamics='bfgs'
/
ATOMIC_SPECIES
  Y 0.0 Y.GGA-PBE-paw.UPF
  Cu 0.0 Cu.GGA-PBE-paw.UPF
  O 0.0 O.GGA-PBE-paw.UPF
K_POINTS (automatic)
  8 8 8 1 1 1
CELL_PARAMETERS angstrom
3.406839 0.000000 5.043280
1.543803 3.036977 5.043280
0.000000 0.000000 6.086150
ATOMIC_POSITIONS crystal
Y 0.500000 0.500000 0.500000
Cu 0.000000 0.000000 0.000000
O 0.106471 0.106471 0.106471
O 0.893529 0.893529 0.893529
