&control
  calculation='vc-relax'
  prefix='ZnO.ZB.relax'
  pseudo_dir='./'
/
&system
  ibrav=2
  celldm(1)=9.6
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
/
&electrons
  conv_thr=1.d-8
/
&ions
  ion_dynamics='bfgs'
/
&cell
  cell_dynamics='bfgs'
/
K_POINTS (automatic)
  8 8 8 0 0 0
ATOMIC_SPECIES
  Zn 0.0 Zn.GGA-PBE-paw.UPF
  O 0.0 O.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
Zn 0.0 0.0 0.0
O 0.25 0.25 0.25
