&control
  calculation='scf'
  prefix='OsO.RS.scf'
  pseudo_dir='./'
/
&system
  ibrav=0
  nat=2
  ntyp=2
  ecutwfc=40
  ecutrho=200
  smearing='fermi-dirac'
  degauss=0.002
  occupations='smearing'
  nspin=2
  starting_magnetization(1)=0.00
  starting_magnetization(2)=1.79
/
&electrons
  conv_thr=1.d-8
/
K_POINTS (automatic)
  8 8 8 0 0 0
ATOMIC_SPECIES
  O 0.0 O.GGA-PBE-paw.UPF
  Os 0.0 Os.GGA-PBE-paw.UPF
ATOMIC_POSITIONS (crystal)
  O 0.0 0.0 0.0
  Os 0.5 0.5 0.5
